.f{
    height: 600px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    
    padding: 10px;
}
.name{
    display: flex;
    justify-content: space-evenly;
}
.mobile{
    width: 390px;
    padding-top: 5px;
    margin-top: 5px;
   
}
.n1{
    width: 190px;
}
div{
    padding-top: 10px;
}
.button{
    background:blue;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}


